:root {
	--dark: #1e1e1e;
	--gray: #756388;
	--light: #ffffff;
}

* {
	padding: 0;
	box-sizing: border-box;
}

.side-nav-container {
	background-color: var(--dark);
	position: fixed;
	width: 230px;
	height: 100%;
	color: var(--light);
	transition: 0.4s;
	top: 0;
	
}

.side-nav-container-NX {
	width: 85px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
	/* border: 2px solid white; */
	display: grid;
}

.nav-heading {
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	height: 30px;
}

.nav-brand {
	display: flex;
	color: var(--light);
}

.nav-brand .title {
	font-family: 'ElectricShocker', sans-serif;
	padding: 0 45px;
	font-size: 20px;

}

.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	margin: auto;
}

.hamburger span {
	display: block;
	margin-top: 7px;
	background-color: var(--light);
	border-radius: 15px;
	height: 1px;
	width: 25px;
	transition: 0.4s;
	margin-left: 15%;
}

.hamburger-in {
	margin-left: -5em;
}

.hamburger:hover span {
	background-color: #fff;
}

.hamburger-in:hover span:nth-child(1) {
	width: 25px;
	transform: translateY(4px) rotate(-25deg);
}

.hamburger-in:hover span:nth-child(2) {
	width: 40px;
}

.hamburger-in:hover span:nth-child(3) {
	width: 25px;
	transform: translateY(-4px) rotate(25deg);
}

/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
.hamburger-out {
	margin-left: 24px;
}

.hamburger-out:hover span:nth-child(1) {
	width: 25px;
	transform: translate(5px, 4px) rotate(-155deg);
}

.hamburger-out:hover span:nth-child(2) {
	width: 40px;
}

.hamburger-out:hover span:nth-child(3) {
	width: 25px;
	transform: translate(5px, -4px) rotate(155deg);
}

.nav-menu {
	grid-template-rows: repeat(7, 1fr);
	margin-top: 40px;
}

.menu-item {
	height: 50px;
	display: flex;
	color: var(--light);
	text-decoration: none;
	text-transform: uppercase;
	margin: auto 30px;
	border-radius: 10px;
	font-size: 13px;
	gap: 1rem;
}

.menu-item-NX {
	margin-left: auto;
}

.menu-item:hover {
	background-color: #d9f503a1;
	border-radius: 40px 0px 0px 40px;
	transition: all 300ms ease-in-out;
	width: 30px;
}

.menu-item img {
	width: 20px;
	margin-top: -4%;
}

.nav-footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 7px;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
}

.nav-details {
	display: flex;
}

.nav-details img {
	width: 25px;
	padding: 0 20px;
}

.nav-footer-user-name {
	font-size: 15px;
	font-weight: 900;
}

.nav-footer-user-position {
	margin-top: -14px;
	color: var(--gray);
}

.logout-icon {
	width: 25px;
	margin: auto;
	border-radius: 90px;
	padding: 20px;
	margin-left: 10px;
}

.logout-icon:hover {
	background-color: #d9f503a1;
}