.header {
    display: flex;
    justify-content: space-between;
    /* gap: 48rem; */
}

.logo {
    font-family: 'ElectricShocker', sans-serif;
    color: #fff;
    font-size: 2.7rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #fff;
    align-items: center;
}

.menu>li {
    cursor: pointer;
}

.menu>li:hover {
    color: var(--limeGreen);
    cursor: pointer;
}