.bodyForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  box-sizing: border-box;
}


.logo h1 {
  font-family: 'ElectricShocker', sans-serif;
  color: #fff;
  font-size: 2.7rem;
}



h1 {
  font-weight: bold;
  margin: 15px;
}

h2 {
  text-align: center;
}

.error {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.span {
  font-size: 12px;
}

.esqueciSenha {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.ghost,
.submit
 {
  border-radius: 20px;
  border: 1px solid #D9F503;
  background-color: #D9F503;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  margin-top: 10%;
} 


.ghost:active {
  transform: scale(0.95);
}


.ghost:focus {
  outline: none;
} 



#signIn {
  background-color: hsl(67, 98%, 49%, 0.4);
  border: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-right: 5rem;
}

#signUp {
  background-color: hsl(67, 98%, 49%, 0.4);
  border: transparent;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 16em;
  outline: none;
}

.ghost:hover {
  color: #ffffff;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.ghost:hover svg {
  stroke-dashoffset: -480;
} 

.submit:hover {
  color: #ffffff;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.submit:hover svg {
  stroke-dashoffset: -480;
} 

.tipoUsuario {
  font-size: 13px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: static;
}


.formForm {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 50px;
  text-align: center;
}

.label {
  margin: 0;
}

.input {
  height: 30px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 15px;
  display: block;
}


.input:hover {
  box-shadow:
    1px 1px hsl(67, 98%, 49%, 0.80),
    2px 2px hsl(67, 98%, 49%, 0.80),
    3px 3px hsl(67, 98%, 49%, 0.80);
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.error {
  font-size: 12px;
  color: rgb(216, 19, 19);
  margin: 0;
}

#containerForm {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  top: 1.6rem;
  left: auto;
  overflow: hidden;
  width: 768px;
  height: 5rem;
  max-width: 100%;
  min-height: 480px;

}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  top: 30px;
  left: 0;
  width: 50%;
  z-index: 2;
}

.containerForm.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.containerForm.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.containerForm.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #fff;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.pintora {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 120%;
  object-fit: cover;
  left: 0;
}

.imagem .alicate {
  background: right;
  overflow: hidden;
  height: 100%;
  width: 195%;
  left: 0;
  object-fit: cover;
}


.containerForm.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.containerForm.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.containerForm.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.span {
  overflow: hidden;
  font-size: 10px;
}

.social {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-top: -6px;
  margin-bottom: 6px;
}

.span {
  margin: 10px;
}
