/*  ---- header ----- */
.headerProp {
    position: relative;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.3%;
}

.headerProp span {
    color: #fff;
    font-family: 'ElectricShocker';
    font-size: 35px;
    margin-left: 10%;
    cursor: pointer;
}

.headerProp img {
    width: 27px;
    margin-left: 65%;
    cursor: pointer;
}

.headerProp .user {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
    top: -2.8rem;
    float: right;
    left: -5.6rem;
}

/* ----- */
.bodyProposta,
.main,
.containerProposta {
    background: #1d1d1d;
    width: 100%;
}


.containerProposta {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    height: 100%;
    padding: 25px;
}
.containerPropostaClient {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    height: 100%;
    padding: 25px;
}

.containerProposta .pic {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 3rem;
    position: relative;
    top: -5rem;
}

.containerPropostaClient .picClient {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 3rem;
    position: relative;
    top: -5rem;
}

.right .btnFazerProposta {
    position: relative;
    width: 10rem;
    height: 3rem;
    bottom: -1em;
    /* left: 1rem; */
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin: 0.5em;
}

.right .btnConversar {
    position: relative;
    width: 10rem;
    height: 3rem;
    bottom: -1em;
    /* left: 1rem; */
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin: 0.5em;
}

.rightClient .btnConversarClient {
    position: relative;
    width: 10rem;
    height: 3rem;
    bottom: -1em;
    /* left: 1rem; */
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin: 0.5em;
}


.btnConversar {
    background: #fff;
}

.btnConversarClient {
    background: #fff;
}

.btnFazerProposta {
    background: #D9F503;
}

.sc-bcXHqe {
    background: transparent;
}

.containerProposta .right {
    padding: 10px;
    position: relative;
    top: -4rem;
    margin: 3rem 2rem 2rem 2rem;
}

.containerPropostaClient .rightClient {
    padding: 10px;
    position: relative;
    top: -4rem;
    margin: 3rem 2rem 2rem 2rem;
}

.containerProposta .right .name {
    font-size: 2rem;
    color: #D9F503;
    font-weight: bold;
    display: flex;
    justify-content: left;
}

.containerPropostaClient .rightClient .nameClient {
    font-size: 2rem;
    color: #D9F503;
    font-weight: bold;
    display: flex;
    justify-content: left;
}

.tool_icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.tool_iconsClient {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.tool_icons img {
    width: 2rem;
    cursor: pointer;
}

.tool_iconsClient img {
    width: 2rem;
    cursor: pointer;
}


.containerProposta .right .desc {
    margin-top: 3rem;
    font-size: 15px;
    color: #fff;
    word-break: break-all;
    width: 45%;
}

.containerProposta .right .valor {
    color: #D9F503;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
}

.containerProposta .right .desc_valor {
    color: #fff;
    margin: 1rem 1rem;
}


.reviewTitle {
    color: #D9F503;
    font-size: 16px;
    position: absolute;
    display: flex;
    top: 10rem;
    right: 16rem;
}

.reviewTitleClient {
    color: #D9F503;
    font-size: 16px;
    position: absolute;
    display: flex;
    top: 10rem;
    right: 13rem;
}

.containerProposta .reviews {
    width: 300px;
    height: 10rem;
    position: absolute;
    display: flex;
    left: 55rem;
    top: 13rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #D9F503 1px solid;
}

.containerPropostaClient .reviewsClient {
    width: 300px;
    height: 10rem;
    position: absolute;
    display: flex;
    left: 55rem;
    top: 13rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #D9F503 1px solid;
}

.containerProposta .reviews .arrow {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: absolute;
    left: 19rem;
    top: 4rem;
    cursor: pointer;
}

.containerPropostaClient .reviewsClient .arrowClient {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: absolute;
    left: 19rem;
    top: 4rem;
    cursor: pointer;
}

.containerProposta .reviews .nota {
    color: #fff;
}

.commentsTwoProposta {
    font-size: 13px;
    font-weight: bold;
}

.commentsThreeProposta {
    font-size: 13px;
    font-weight: bold;
}

.commentsOneProposta {
    font-size: 12px;
}

.makeAReview {
    width: 300px;
    height: 15rem;
    position: absolute;
    display: flex;
    left: 55rem;
    top: 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #d3d3d3 1px solid;
}

.makeAReview .makeAReviewTitle {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
}

.makeAReview .newReview {
    position: absolute;
    top: 11rem;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid black;
    outline: none;
    background: transparent;
    color: #fff;
}

.makeAReview .newRate {
    position: absolute;
    top: 6rem;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid black;
    outline: none;
    background: transparent;
    color: #fff;
}

.makeAReview .labelReview {
    font-size: 10px;
    color: #fff;
}

.makeAReview #rate {
    position: relative;
    top: -2.5rem;
    left: 3rem;
}

.makeAReview #reviewText {
    position: relative;
    top: 2rem;
    right: 3.3rem;
}

.makeAReview .submitReview {
    width: fit-content;
    position: absolute;
    background: #D9F503;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin-top: 13rem;
    margin-right: 0;
    width: auto;
}