
.containerChat {
  background: #0e0e0e;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  gap: 2rem;
}

 .container .con {
  display: flex;
  justify-content: space-between;
  width: 87%;
}

.header-bg {
  background-color: #000;
  transition: .5s;
}

.logoHeader {
  font-family: 'ElectricShocker', sans-serif;
  color: #fff;
  font-size: 2.7rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: #fff;
  align-items: center;
  justify-content: space-around;
}

.menu li {
  cursor: pointer;
  font-family: 'Montserrat';
}

.menu .list {
  text-decoration: none;
  padding: 0 3px;
  transition: 0.3s;
}

.menu .list:hover {
  border-bottom: 3px solid var(--limeGreen);
}

.menu a.active {
  border-bottom: 3px solid var(--limeGreen);
}


.chat-window {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 5px;
}


.chat-window .leftChat {
  text-align: left;
  width: 330px;
  margin-left: 6.5%;
  height: 83vh;
  background: #fff;
  border-radius: 5px;

}

.chat-window .leftChat .searchbar {
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 0 #6e737581;
  height: 80px;
}

.chat-window .leftChat .searchbar .title-search {
  text-align: center;
  color: #1E1E1E;
  text-overflow: clip;
  margin-left: -1rem;
}

.chat-window .leftChat .searchbar .ipt-search {
  position: relative;
  left: 12%;
  width: 70%;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  color: #1E1E1E;
  background-image: url("../../assets/search.svg");
  background-repeat: no-repeat;
  padding-left: 10px;
  background-position: right;
  background-color: #828282;
  top: -20%;
  height: 20px;
}

.chat-window .leftChat .chat1 {
  padding: 0.5rem;
  cursor: pointer;
  height: 10vh;
  box-shadow: 0px 1px 0 #6e737581;
}

.chat-window .leftChat .chat1:hover {
  background: #D9F503;
  height: 10vh;
}

.chat-window .leftChat .chat1 .imgChat {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1%;
}

.chat-window .leftChat .chat1 .name1 {
  margin: -5px 0 2px 50px;
  color: #1E1E1E;
}

.chat-window .leftChat .chat1 .text1 {
  margin: -5px 0 2px 50px;
  color: #1E1E1E;
}


.chat-window .leftChat .chat1 .name1 {
  font-weight: bolder;
  margin-top: -14%;
  margin-right: 10%;
  font-size: 15px;
}

.chat-window .leftChat .chat1 .text1 {
  margin-right: -1%;
  font-size: 11px;
}

.timer {
  margin-left: 78%;
  margin-top: -8%;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #1E1E1E;
  border-radius: 15px;
}
/*
.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 10%;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

 .joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #D9F503;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #D9F503;
  color: #fff;
  cursor: pointer;
} */

.chat-window>div {
  height: 83vh;
  background: #1E1E1E;
  margin: 30px auto;
  box-shadow: 0px 8px 10px rgba(2, 2, 2, 0.10);
}

.chat-window {
  display: flex;
  justify-content: space-between;

}

.chat-window .rightChat {
  text-align: left;
  width: 800px;
  margin-left: -3rem;
  border-radius: 5px;
}

.chat-window .cvCom {
  margin: 0;
}

.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: transparent;
  box-shadow: 0px 1px 0px #8a8f9181;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-window .chat-header .cvCom {
  padding: 0.2em 1em 0 2em;
  color: #fff;
  font-weight: bold;
  line-height: 45px;
}

.chat-window .chat-header .proposta {
  background: #D9F503;
  border-radius: 10px;
  border: none;
  height: 22px;
  width: 10%;
  position: absolute;
  left: 90%;
  transform: translate(-50%, 50%);
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.chat-window .chat-body {
  height: calc(408px - (45px + 70px));
  background: transparent;
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #821dda;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: #429BED;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
  color: #fff;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
  color: #fff;
}

.chat-window .chat-footer {
  height: 40px;
  border-top: 1px solid #8a8f9181;
  display: flex;
  justify-items: baseline;
  align-items: baseline;
  margin-top: 10%;
}

.chat-window .chat-footer .iptFooter {
  position: relative;
  top: 0;
  left: 1rem;
  width: 90%;
  border: none;
  outline-style: initial;
  border-bottom: #97aa05a2 solid 1px;
  border-radius: 2px;
  background-color: transparent;
  cursor: text;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.chat-window .chat-footer .btnSendMessage {
  border: 0;
  background-image: url("../../assets/send-outline.svg");
  background-repeat: no-repeat;
  background-size: 2.2em;
  background-position: center;
  cursor: pointer;
  flex: 7%;
  height: 100%;
  background-color: transparent;
  position: relative;
  top: 12px;
}

.chat-window .chat-footer .btnSendMessage:hover {
  transform: scale(0.5);
}

.hide {
  opacity: 0 !important;
}


/* ------- popup  ------*/

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  z-index: 2000;
}

.formModal {
  position: fixed;
  height: 85vh;
  width: 30rem;
  top: 4rem;
  border-radius: 5px;
  left: 30rem;
  background: #fff;
}

.titleFazerProposta {
  color: #1E1E1E;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  border-bottom: #1E1E1E 1px solid;
  text-transform: uppercase;

}

.campo1 {
  font-size: 15px;
  text-align: center;
  width: 100%;
  height: 5rem;
  text-transform: uppercase;
  display: flex;
}

.selectServicos {
  background: rgb(172, 172, 172);
  position: absolute;
  top: 8rem;
  width: 30%;
  height: 2rem;
  left: 3.3rem;
  font-size: 14px;
  border-radius: 3px;
  cursor: text;
  border: none;
  color: #1E1E1E;
  box-shadow: 0 8px 6px -6px #555;
}


.campo2 {
  font-size: 17px;
  text-align: center;
  width: 100%;
  height: 5rem;
  text-transform: uppercase;
}

.descDoServico {
  background: rgb(172, 172, 172);
  position: absolute;
  top: 13rem;
  width: 80%;
  right: 2.5rem;
  font-size: 14px;
  border-radius: 3px;
  cursor: text;
  border: none;
  color: #1E1E1E;
  box-shadow: 0 8px 6px -6px #555;
}

.descDoServico {
  resize: none;
}


.campo3 {
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
}

.de,
.ate {
  font-size: 14px;
  margin-top: 2rem;
  text-transform: uppercase;
  
}

.dataDe,
.dataAte {
  background: rgb(172, 172, 172);
  position: relative;
  top: 4rem;
  width: 40%;
  left: -2rem;
  height: 2rem;
  font-size: 14px;
  border-radius: 3px;
  cursor: text;
  border: none;
  color: #1E1E1E;
  box-shadow: 0 8px 6px -6px #555;
}

.campo4 {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.termos {
  font-size: 13px;
  position: relative;
  text-transform: uppercase;
  top: -0.2rem;
}

.checkbox {
  position: absolute;
  left: 3rem;
}

.enviarProposta {
  position: absolute;
  top: 27rem;
  right: 1em;
  width: 30%;
  height: 40px;
  background: #D9F503;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.concluido {
  position: fixed;
  height: 85vh;
  width: 30rem;
  top: 2.8rem;
  border-radius: 5px;
  left: 30rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} 