.logoInfo {
    position: relative;
}

.infor {
    padding: 1rem 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -7rem;
}

.infor img {
    width: 9rem;
    height: 9rem;
}

.infox {
    display: flex;
    gap: 2rem;
}

.infox .titleInfo {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
}

.infox .textInfo {
    color: #fff;
    font-family: 'MontserratLight';
    margin-top: 0.3rem;
}

.infox .mobile {
    display: flex;
    flex-direction: column;
}

.infox .comuni {
    display: flex;
    flex-direction: column;
}

.infox .empre {
    display: flex;
    flex-direction: column;
}